/* 
background #d9d9d9
title bold #595960
title normal #172e40
paragraph #64666a
min read #a0a0a2
*/

body {
  font-family: "Inter", sans-serif;
}

main {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 100vh;
}

.cards {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 2rem;
}

.card {
  width: 40%;
  display: flex;
  flex-direction: column;
  
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.05);
}

.card .img-cont {
  width: 100%;
}

 .card .img-cont img{
    width: 100%;
   height: 300px;
}  



.container {
  padding: 2rem;
}

.card h2 {
  color: #595960;
  font-size: 22px;
}

.card h1{
    color: #172e40;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 1.75rem;
}

.card p{
    color: #64666a;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1.75rem;
}

.divider{
    width: 100%;
    align-items: center;
    border: 0.5px solid black;
    margin-bottom: 1rem;
}

.man {
  width: 60px;
  border-radius: 50%;
  aspect-ratio: 1;
}

.personal-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.name{
    margin-left: 1rem;
    font-size: 22px;
    font-weight: 300;
}

.min{
    position: absolute;
    right: 0px;
    color: #a0a0a2;
    font-size: 20px;
    font-weight: 300
}